APP_NAME=AKpanel
APP_ENV=production
APP_KEY=akpanel_production_secret_key_32_chr!
APP_DEBUG=false

LOG_CHANNEL=stack
LOG_LEVEL=info

SESSION_DRIVER=file
SESSION_LIFETIME=120

APP_URL=http://localhost:2087
APP_HOST=0.0.0.0
APP_PORT=2087

JWT_SECRET=

DB_CONNECTION=sqlite
DB_DATABASE=database/akpanel.sqlite
